.jumbotron 
    {
        width: 780px;
        background: #FFF url(https://hsto.org/getpro/habr/post_images/4a2/61d/c6a/4a261dc6abcea37cf448267c74f0363c.jpg) no-repeat center top;
        margin: 0 auto;
        height:100%;
   }

