.jumbotron 
    {
        width: 100%;
        background: #FFF url(https://hsto.org/getpro/habr/post_images/4a2/61d/c6a/4a261dc6abcea37cf448267c74f0363c.jpg) no-repeat center top;
        margin: 0 auto;
        height:100%;
        background-color: #D3D3D3;
   }

body 
    {
        background-color: #D3D3D3;
   }

h1 {
	color:#D3D3D3; 
}

h2 {
	color:#191970; 
}

table {
	border-color:#191970; 
	color:#191970; 
	text-align: center;
}

.ID{
	text-align: left;
}