<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport", content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible", content="ie=edge">
  <title>{{device.name}}</title>
  {% load staticfiles %}
  <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet"  href="{% static 'mainApp/css/css_site.css'%}" type="text/css">
 </head>
 <body>

<style>
  .header-h4 {
    position: relative;
    margin-bottom: .5rem;
    text-align: center;
  }
  .header-h4 h4 {
    display: inline-block;
    background: #D3D3D3;
    margin-bottom: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: .5rem 1.5rem;
    border: .125rem solid #007bff;
    color: #007bff;
  }
  .header-h4 h4::after {
    content: "";
    position: absolute;
    background: #007bff;
    height: .125rem;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: -999;
  }
  .square1 {
	width: 40px;
	height: 40px;
	background: #0000FF;
}
  .square2 {
	width: 40px;
	height: 40px;
	background: #FF0000;
}
  .square3 {
	width: 40px;
	height: 40px;
	background: #008000;
}

  .header-h4-dark h4 {
    background: #6a1b9a;
    color: #fff;

    .send {
  background-color: #FFF;
  color: #000;
  margin-bottom: 4px;
  border-radius: 0px;
  padding: 5px;
  border-top: 1px solid #e3e4e8;
  border-bottom: 1px solid #e3e4e8;
}
  }
</style>

	<div class="jumbotron">
		<div class="container">
			<h1>{{device.name}}</h1>
		</div>
	</div>
		<div class="container">
			<h1>{{device.name}}</h1>
			<div class="row">
				<div class="col">
					<a href="/" class="btn btn-success btn-lg">Главная страница</a>
					<!-- Кнопка пуска модальное окно -->  
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal_devices_show">
					  Удалить устройство
					</button>
			<p></p>
				</div>
				<div class="col">
					<a href="http://192.168.0.105/admin/djcelery/periodictask/" class="btn btn-primary btn-info" target="_blank">Периодические задания</a>						
				</div>
			</div>


			<!-- Модальное окно -->  
		<form action="/{{device.id}}/delete" method="get" accept-charset="utf-8" >
			<div class="modal fade" id="modal_devices_show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			      	<h4 class="modal-title" id="myModalLabel">Подтверждение удаления</h4>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>

			      </div>
			      <div class="modal-body">
			        
					<p>Вы уверены?</p>
			      </div>
			      <div class="modal-footer">
			         <input type="submit" class="btn btn-primary" value="Да" id="save">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
			      </div>
			    </div>
			  </div>
			</div>
			</form>


			<br>
			<div class="row">
				<div class="col">
			{% block content %}
	
			 <table border="1">
			 	<td bordercolor="black" width = "100px">ID:</td>
				<td bordercolor="black" width = "300px">{{ device.id }}</td>
			</table>
			 <table border="1">
			 	<td bordercolor="black" width = "100px">IP:</td>
				<td bordercolor="black" width = "300px" >{{ device.ip }}</td>
			</table>
			 <table border="1">
			 	<td bordercolor="black" width = "100px">Name:</td>
				<td bordercolor="black" width = "300px" >{{ device.name }}</td>
			</table>
			 <table border="1">
			 	<td bordercolor="black" width = "100px">Main gate:</td>
				<td bordercolor="black" width = "300px">{{ device.main_gate }}</td>
				</table>
			 <table border="1">
			 	<td bordercolor="black" width = "100px">Type:</td>
				<td bordercolor="black" width = "300px">{{ device.typeof }}</td>
			</table>
			 <table border="1">
			 	<td bordercolor="black" width = "100px">nmap:</td>
				<td bordercolor="black" width = "300px">{{ device.nmap }}</td>
			</table>
			<table border="1">
			 	<td bordercolor="black" width = "100px">user:</td>
				<td bordercolor="black" width = "300px">{{ device.user }}</td>
			</table>
			<table border="1">
			 	<td bordercolor="black" width = "100px">password:</td>
				<td bordercolor="black" width = "300px">{{ device.password }}</td>
			</table>
			<table border="1">
			 	<td bordercolor="black" width = "100px">SMB/RPC (for windows os):</td>
				<td bordercolor="black" width = "300px">{{ device.smb }}</td>
			</table>
			<table border="1" class="table-hover">
			 	<td bordercolor="black" width = "100px">SSH-key:</td>
				<td bordercolor="black" width = "300px" data-toggle="modal" data-target="#sshkey">GET-KEY</td>
			</table>
			<table border="1">
			 	<td bordercolor="black" width = "100px">check:</td>
				<td bordercolor="black" width = "300px">{{ device.check }}</td>
			</table>
			<table border="1">
			 	<td bordercolor="black" width = "100px" >inf_sys:</td>
				<td bordercolor="black" width = "300px">{{ device.inf_sys.name }}</td>
			</table>
			<table border="1">
			 	<td bordercolor="black" width = "100px">port:</td>
				<td bordercolor="black" width = "300px">{{ device.port }}</td>
			</table>
			<table border="1">
			 	<td bordercolor="black" width = "100px">NMAP-PARAMETRES:</td>
				<td bordercolor="black" width = "300px">{{ device.args }}</td>
			</table>


			{% endblock %}
				</div>

						<div class="col">
			

							<table  class="table-inverse" >
								<tr>
								 	<td align="left"><h5>Последнее изменение эталона:</h5></td>
									<td align="right"><h5 style="color:#0000FF">{{report_scan.data}}</h5></td>
								</tr>
								<tr  border="1">
								 	<td align="left"><h5>Последнее сканирование:</h5></td>
									<td align="right"><h5 style="color:#0000FF">{{report_compare.data}}</h5></td>
								</tr>
								<tr  border="1">
								 	<td align="left"><h5>Операционная система:</h5></td>
									<td align="right"><h5 style="color:#0000FF">{{device.os}}</h5></td>
								</tr>
								<tr  border="1">
								 	<td align="left"><h5>Открытые порты:</h5></td>
									<td align="right"><h5 style="color:#0000FF">
									{% for port in openports %}
										{{port.number}},
									{% endfor %}
									</h5></td>
								</tr>
							</table>

							<br>

							<table class="table-borderless">
							 	<td bordercolor="gray" width = "50px" align="center"><div class="square1"></div></td>
								<td bordercolor="gray" width = "300px"><h5>Файл изменен</h5></td>
							</table>
							<table class="table-borderless">
							 	<td bordercolor="gray" width = "50px" align="center"><div class="square2"></div></td>
								<td bordercolor="gray" width = "300px"><h5>Файл удален</h5></td>
							</table>
							<table class="table-borderless">
							 	<td bordercolor="gray" width = "50px" align="center"><div class="square3"></div></td>
								<td bordercolor="gray" width = "300px"><h5>Новый файл</h5></td>
							</table>
							
			
	

							</div>
			


			</div>
			<br>
			<!-- Кнопка пуска модальное окно -->  
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit_device">
			 Редактировать
			</button>


			<!-- Кнопка пуска модальное окно  ssh создать эталон-->  
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ssh_create">
			  Создать эталон
			</button>

			<!-- Кнопка пуска модальное окно  ssh сравнить эталон-->  
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ssh1">
			  Сравнить с эталоном
			</button>


			<!-- Модальное окно sshkey -->  
			<form action="" method="get" accept-charset="utf-8" >
			<div class="modal fade" id="sshkey" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			      	<h4 class="modal-title" id="myModalLabel">SSH-key</h4>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>

			      </div>
			      <div class="modal-body">
					<div class="container">
					    <textarea cols=60 rows=25 readonly >
						  {{device.key}}
						</textarea>
					</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>			   
			      </div>
			    </div>
			  </div>
			</div>

			</form>



			<!-- Модальное окно редактирования устройства -->  
			<form action="/{{device.id}}/edit" method="get" accept-charset="utf-8" >
			<div class="modal fade" id="edit_device" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			      	<h4 class="modal-title" id="myModalLabel">Изменение информации об устройстве</h4>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>

			      </div>
			      <div class="modal-body">
			   		<p><b>Имя устройства:</b><br>
   						<input type="text" size="40" value={{device.name}} name="nameclient">
					  </p> 
						
					  <p><b>IP-адрес устройства:</b><br>
   						<input type="text" size="40" value={{ device.ip }} name="ipclient">
					  </p>
					  <p><b>Тип устройства:</b><Br>
					   <input type="radio" name="typeof" value="computer"> Компьютер<Br>
					   <input type="radio" name="typeof" value="router"> Роутер<Br>
					   <input type="radio" name="typeof" value="server"> Сервер<Br>
					  </p>
					  <p><b>Основной шлюз:</b><br>
   						<input type="text" size="40" value={{ device.main_gate }} name="maingate">
					  </p> 
					  <p><b>Порт</b><Br>
					   <input type="text" size="40" value={{device.port}} name="port">
					  </p>
					  <p><b>Параметры сканирования nmap:</b><Br>
					   <input type="text" size="40" value="{{device.args}}"" name="args">
					  </p>
					  <p><b>Пользователь для подключения по ssh:</b><br>
   						<input type="text" size="40"  name="user" value="{{device.user}}">
					  </p> 
					  <p><b>Пароль пользователя:</b><br>
   						<input type="text" size="40"   name="password" value="{{device.password}}">
					  </p> 
					  <p><b>SMB/RPC (windows)</b><Br>
					   <input type="radio" name="smb" value="True">Да<Br>
					   <input type="radio" name="smb" value="False"> Нет<Br>
					  </p>
					  <p><b>SSH-ключ:</b><br>
   						<input type="text" size="40"   name="sshkey" value="{{device.key}}">
					  </p> 
					  <p><b>Установлен сканер nmap?</b><Br>
					   <input type="radio" name="nmap" value="True">Да<Br>
					   <input type="radio" name="nmap" value="False"> Нет<Br>
					  </p>
					  <p><b>Добавить в список для сканирования?</b><Br>
					   <input type="radio" name="check" value="True">Да<Br>
					   <input type="radio" name="check" value="False"> Нет<Br>
					  </p>

			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <input type="submit" class="btn btn-primary" value="OK" id="save">
			      </div>
			    </div>
			  </div>
			</div>

			</form>



			<!-- Модальное окно ssh создать -->  
			<form action="/{{device.id}}/ssh_create_device" method="get" accept-charset="utf-8" >
			<div class="modal fade" id="ssh_create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			      	<h4 class="modal-title" id="myModalLabel">Результаты сканирования</h4>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>

			      </div>
			      <div class="modal-body">
					<div class="container">
					    <textarea cols=60 rows=25 readonly >
						  {{report_scan.description}}
						</textarea>
						{{ state.task_scan_device_state }}
					</div>
			      </div>
			      <div class="modal-footer">
			      	<a href="/{{device.id}}/ssh_create_device" class="btn btn-primary btn-lg">Запустить сканирование</a>
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>			   
			      </div>
			    </div>
			  </div>
			</div>

			</form>


			<!-- Модальное окно ssh сравнить -->  
			<form action="{{device.id}}/ssh_compare_device" method="get" accept-charset="utf-8" >
			<div class="modal fade" id="ssh1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			      	<h4 class="modal-title" id="myModalLabel">Результаты проверки</h4>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>

			      </div>
			      <div class="modal-body">
					<div class="container">
					    <textarea cols="55" rows="15" name="text" style="width: 100%;" readonly >
						  {{report_compare.description}}
						</textarea>
						{{ state.task_compare_device_state }}
					</div>
			      </div>
			      <div class="modal-footer">
			      	<a href="/{{device.id}}/ssh_compare_device" class="btn btn-primary btn-lg" >Запустить сканирование</a>
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>

			</form>


			</div>
		<br><br>	

		<div class="container">
			<table class="table table-dark table-hover table-bordered">
			<thead>
		    <tr>
		      <th scope="col">Id</th>
		      <th scope="col">Service</th>
		      <th scope="col">Path</th>
		      <th scope="col">Version</th>
		    </tr>
			</thead>
<!-- 			output windows services -->
			<tbody>
				{% for prog in win_progrmas %}
		    	<tr data-toggle="collapse" data-target="#{{prog.name}}">
			    	<td scope="col">{{prog.id}}</td>
			     	<td>{{prog.name}}</td>
				  	<td scope="col">{{prog.path}}</td>
				  	<td scope="col">{{prog.version}}</td>
		    	</tr>
		    	<tbody id="{{prog.name}}" class="collapse " bgcolor="gray">
		    		<tr>
				      <th scope="col" >Id</th>
				      <th scope="col" >file</th>
				      <th scope="col" >hash</th>
		    		</tr>
		    		{% for file in prog.windent.all %}	
			    		{% if file.changed %}
			    			<tr bgcolor="#0000FF">
						      <td scope="col" >{{file.id}}</td>
						      <td scope="col" data-toggle="modal" data-target="#{{file.file}}">{{file.file}}</td>
						      <td scope="col" >{{file.hash_conf}}</td>
				    		</tr>
			    		{% elif file.deleted  %}
			    			<tr bgcolor="#FF0000">
						      <td scope="col" >{{file.id}}</td>
						      <td scope="col" data-toggle="modal" data-target="#{{file.file}}">{{file.file}}</td>
						      <td scope="col" >{{file.hash_conf}}</td>
				    		</tr>
			    		{% elif file.new  %}
				    		<tr bgcolor="#008000">
						      <td scope="col" >{{file.id}}</td>
						      <td scope="col" data-toggle="modal" data-target="#{{file.file}}">{{file.file}}</td>
						      <td scope="col" >{{file.hash_conf}}</td>
				    		</tr>
			    		{% else %}	
				    		<tr>
						      <td scope="col" >{{file.id}}</td>
						      <td scope="col" data-toggle="modal" data-target="#{{file.file}}">{{file.file}}</td>
						      <td scope="col" >{{file.hash_conf}}</td>
				    		</tr>
			    		{% endif %}
			    		<form action="" method="get" accept-charset="utf-8" >
							<div class="modal fade" id="{{file.file}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>

							      </div>
							      <div class="modal-body">
									<div class="container">
										<div class="row">
											<div class="col">
												<h4 class="modal-title" id="myModalLabel">Исходный файл</h4>
											    <textarea cols="55" rows="15" name="text" style="width: 100%;" readonly >
												  {{file.text_conf}}
												</textarea>
											</div>
											<div class="col">
												<h4 class="modal-title" id="myModalLabel">Изменения</h4>
											    <textarea cols="55" rows="15" name="text" style="width: 100%;" readonly >
												  {{file.changed_text_conf}}
												</textarea>
											</div>
									</div>
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							      </div>
							    </div>
							  </div>
							</div>
						</form>
		    		{% endfor %}
		    	</tbody>

		    	{% endfor %}	

<!-- 		    	output linux services -->
		    	{% for prog in lin_programs %}
		    	<tr data-toggle="collapse" data-target="#{{prog.name}}">
			    	<td scope="col">{{prog.id}}</td>
			     	<td align="left">{{prog.name}}</td>
				  	<td scope="col">-</td>
				  	<td scope="col">{{prog.version}}</td>
		    	</tr>
		    		<tbody id="{{prog.name}}" class="collapse " bgcolor="gray">
		    		<tr >
				      <th scope="col" >Id</th>
				      <th scope="col" >file</th>
				      <th scope="col" >hash</th>
		    		</tr>
		    		{% for file in prog.lindent.all %}
			    		{% if file.changed %}
			    			<tr bgcolor="#0000FF">
						      <td scope="col" >{{file.id}}</td>
						      <td scope="col" data-toggle="modal" data-target="#{{file.file}}">{{file.file}}</td>
						      <td scope="col" >{{file.hash_conf}}</td>
				    		</tr>
			    		{% elif file.deleted  %}
			    			<tr bgcolor="#FF0000">
						      <td scope="col" >{{file.id}}</td>
						      <td scope="col" data-toggle="modal" data-target="#{{file.file}}">{{file.file}}</td>
						      <td scope="col" >{{file.hash_conf}}</td>
				    		</tr>
			    		{% elif file.new  %}
				    		<tr bgcolor="#008000">
						      <td scope="col" >{{file.id}}</td>
						      <td scope="col" data-toggle="modal" data-target="#{{file.file}}">{{file.file}}</td>
						      <td scope="col" >{{file.hash_conf}}</td>
				    		</tr>
			    		{% else %}	
				    		<tr>
						      <td scope="col" >{{file.id}}</td>
						      <td scope="col" data-toggle="modal" data-target="#{{file.file}}">{{file.file}}</td>
						      <td scope="col" >{{file.hash_conf}}</td>
				    		</tr>
			    		{% endif %}

			    		<form action="" method="get" accept-charset="utf-8" >
							<div class="modal fade" id="{{file.file}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>

							      </div>
							      <div class="modal-body">
									<div class="container">
										<div class="row">
											<div class="col">
												<h4 class="modal-title" id="myModalLabel">Исходный файл</h4>
											    <textarea cols="55" rows="15" name="text" style="width: 100%;" readonly >
												  {{file.text_conf}}
												</textarea>
											</div>
											<div class="col">
												<h4 class="modal-title" id="myModalLabel">Изменения</h4>
											    <textarea cols="55" rows="15" name="text" style="width: 100%;" readonly >
												  {{file.changed_text_conf}}
												</textarea>
											</div>
									</div>
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							      </div>
							    </div>
							  </div>
							</div>
						</form>
		    		{% endfor %}
		    </tbody>

		    	{% endfor %} 
		  	</tbody>
			
		

		</div>


	

 </body>




 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
<!-- Подлючаем js файл Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>



