<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport", content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible", content="ie=edge">
  <title>Информация о хосте</title>
  {% load staticfiles %}
  <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css">
 </head>
 <body>


	<div class="jumbotron">
		<div class="container">
			<h1>"Информация о хосте"</h1>

				{% block content %}
				{% endblock %}

			<a href="/" class="btn btn-success btn-lg">Назад</a>
			<a href="/contact/ssh" class="btn btn-success btn-lg">Получить доступ по ssh к хосту</a>
		</div>
	</div>
	<div class="container">
		<img src="https://hsto.org/getpro/habr/post_images/4a2/61d/c6a/4a261dc6abcea37cf448267c74f0363c.jpg" class="img-thumbnail">
		<hr>
		&copy; Все права защищены 2018
	</div>

 </body>
</html>