<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport", content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible", content="ie=edge">
  <title>{{pk.name}}</title>
  {% load staticfiles %}
  <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css">
   <link rel="stylesheet"  href="{% static 'mainApp/css/css_site.css'%}" type="text/css">

 </head>

 <body>
<style>
.send {
  background-color: #FFF;
  color: #000;
  margin-bottom: 4px;
  border-radius: 0px;
  padding: 5px;
  border-top: 1px solid #e3e4e8;
  border-bottom: 1px solid #e3e4e8;
}
</style>

	<div class="jumbotron">
		<div class="container">
			<h1>Информационная система: {{pk.name}}</h1>


		</div>
	</div>
	<div class="container">
			<h1>Информационная система: {{pk.name}}</h1>




			<a href="/" class="btn btn-success btn-lg">Главная страница</a>



			<!-- Кнопка пуска модальное окно -->  
			<!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal_devices_show">
			  Список устройств
			</button>-->  

			<!-- Кнопка пуска модальное окно -->  
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
			  Добавить устройство
			</button>

			<!-- Кнопка пуска модальное окно  ssh создать эталон-->  
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ssh">
			  Создать эталон
			</button>

			<!-- Кнопка пуска модальное окно  ssh сравнить эталон-->  
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ssh1">
			  Сравнить с эталоном
			</button>
			<a href="http://192.168.0.105/admin/djcelery/periodictask/" class="btn btn-primary btn-lg" target="_blank">Периодичесике задания</a>
			<p></p>
			<h4>Дата последнего изменения эталона:
			{% for rep in report %}
					{{rep.data}}
			{% endfor %}</h4>

			<h4>Дата последнего сканирования:
			{{ report1.data }}</h4>

			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#change">
			  Изменить
			</button>
			<!-- Модальное окно change -->  
			<form action="/inf_sys/{{pk.name}}/edit_inf_sys" method="get" accept-charset="utf-8" >
			<div class="modal fade" id="change" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			      	<h4 class="modal-title" id="myModalLabel">Изменение параметров системы</h4>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>

			      </div>
			      <div class="modal-body">
			          <p><b>Название</b><br>
   						<input type="text" size="40" name="name_sys" value="{{ pk.name }}">
					  </p> 
						
					  <p><b>Владелец</b><br>
   						<input type="text" size="40"  name="user" value="{{pk.owner}}">
					  </p>
					   <p><b>Описание</b><br>
   						<input type="text" size="40" name="description" value="{{pk.description}}">
					  </p>
					  <p><b>Параметры сканирования nmap:</b><br>
   						<input type="text" size="40" name="args" value="{{pk.args}}">
					  </p>


			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <input type="submit" class="btn btn-primary" value="Подвтердить" id="save">
			      </div>
			    </div>
			  </div>
			</div>

			</form>



			<!-- Модальное окно -->  
			<form action="/inf_sys/{{pk.name}}/device" method="get" accept-charset="utf-8" >
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			      	<h4 class="modal-title" id="myModalLabel">Добавление устройства</h4>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>

			      </div>
			      <div class="modal-body">
			          <p><b>Имя устройства:</b><br>
   						<input type="text" size="40" value={{namehost}} name="nameclient">
					  </p> 
						
					  <p><b>IP-адрес устройства:</b><br>
   						<input type="text" size="40" value={{ ip }} name="ipclient">
					  </p>
					  <p><b>Тип устройства:</b><Br>
					   <input type="radio" name="typeof" value="computer"> Компьютер<Br>
					   <input type="radio" name="typeof" value="router"> Роутер<Br>
					   <input type="radio" name="typeof" value="server"> Сервер<Br>
					  </p>
					  <p><b>Основной шлюз:</b><br>
   						<input type="text" size="40" value={{remotehost}} name="maingate">
					  </p> 
					  <p><b>Порт</b><Br>
					   <input type="text" size="40" name="port">
					  </p>
					  <p><b>Параметры сканирования nmap:</b><Br>
					   <input type="text" size="40"  name="args">
					  </p>

					  <p><b>Пользователь для подключения по ssh:</b><br>
   						<input type="text" size="40" name="user">
					  </p> 
					  <p><b>Пароль пользователя:</b><br>
   						<input type="text" size="40" name="password">
					  </p> 
					  <p><b>SMB/RPC (for windws os)</b><Br>
					   <input type="radio" name="smb" value="True">Да<Br>
					   <input type="radio" name="smb" value="False"> Нет<Br>
					  </p>
					  <p><b>SSH-ключ:</b><br>
   						<input type="text" size="40" name="sshkey">
					  </p> 
					  <p><b>Установлен сканер nmap?</b><Br>
					   <input type="radio" name="nmap" value="True">Да<Br>
					   <input type="radio" name="nmap" value="False"> Нет<Br>
					  </p>
					  <p><b>Добавить в список для сканирования?</b><Br>
					   <input type="radio" name="check" value="True">Да<Br>
					   <input type="radio" name="check" value="False"> Нет<Br>
					  </p>

			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <input type="submit" class="btn btn-primary" value="Добавить" id="save">
			      </div>
			    </div>
			  </div>
			</div>

			</form>


			<!-- Модальное окно ssh создать -->  
			<form action="/inf_sys/{{pk.name}}/ssh_create" method="get" accept-charset="utf-8" >
			<div class="modal fade" id="ssh" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			      	<h4 class="modal-title" id="myModalLabel">Результаты сканирования</h4>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>

			      </div>
			      <div class="modal-body">
<!-- 					<a href="/inf_sys/{{pk}}/ssh_create">Скачать в формате docx</a> -->
					<div class="container">
						{% for rep in report %}
						<div class="send">
					    <textarea cols="55" rows="15" name="text" style="width: 100%;" readonly >
						  {{rep.description}}
						</textarea>
						{{ state_task.task_state }}
					</div>
					{% endfor %}
					</div>
			      </div>
			      <div class="modal-footer">
			      	<a href="/inf_sys/{{pk.name}}/ssh_create" class="btn btn-primary btn-lg">Запустить сканирование</a>
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>

			</form>


			{{report.description}}
			<!-- Модальное окно ssh сравнить -->  
			<form action="{{pk.name}}/ssh_compare/" method="get" accept-charset="utf-8" >
			<div class="modal fade" id="ssh1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			      	<h4 class="modal-title" id="myModalLabel">Результаты проверки</h4>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>

			      </div>
			      <div class="modal-body">
<!-- 					<a href="/inf_sys/{{pk}}/ssh_compare">Скачать в формате docx</a> -->
					<div class="container">
						<div class="send">
						<textarea cols="55" rows="15" name="text" style="width: 100%;" readonly >
						  {{report1.description}}
						</textarea>
						{{ state_task.task_compare_state }}
					</div>
					</div>
			      </div>
			      <div class="modal-footer">
			      	<a href="/inf_sys/{{pk.name}}/ssh_compare" class="btn btn-primary btn-lg">Запустить сканирование</a>
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>

			</form>

			
			

		</div>
	</div>
  <footer>

	<div class="container">
					<p></p>
					<h2>Список устройств:</h2>
					   <table border="1,5">
					    	<td bordercolor="black" width = "100px" class="ID">ID</td>
					        <td bordercolor="black" width = "300px" >Наименование</td>
					        <td bordercolor="black" width = "300px" >ip-адрес</td>
					   </table>
					{% for device in devices %}
					    <table border="1,5">
					    	<td bordercolor="black" width = "100px" class="ID">{{ device.id }}</td>
					        <td bordercolor="black" width = "300px" ><a href="/{{device.id}}">{{ device.name }}</td>
					        <td bordercolor="black" width = "300px" >{{ device.ip }}</td>
					    </table>
					{% endfor %}
	</div>


	<div class="container">

		<hr>
		&copy; Все права защищены 2018
	</div>

  </footer>
 </body>


 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
<script src="/assets/demo/jquery/jquery-1.11.2.min.js"></script>
<!-- Подлючаем js файл Bootstrap -->
<script src="/assets/demo/bootstrap-3/js/bootstrap.min.js"></script>

<script type="text/javscript">
alert("Спасибо за отправку вашего сообщения!");
</script>
<script src="{% static 'js/celery_progress.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>