<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport", content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible", content="ie=edge">
  <title>Список информационных систем</title>
  {% load staticfiles %}
  <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet"  href="{% static 'mainApp/css/css_site.css'%}" type="text/css">
 </head>
 <body>



	<div class="jumbotron">

		<div class="container">

			<h1>"Список информационных систем"</h1>


		</div>


	</div>
	<div class="container">
			<!-- Кнопка пуска модальное окно -->  
			<p></p>
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#add">
			  Добавить
			</button>

			<p></p>
			<!-- Модальное окно add-->  
			<form action="/add_inf_sys" method="get" accept-charset="utf-8" >
			<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			      	<h4 class="modal-title" id="myModalLabel">Добавление системы</h4>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>

			      </div>
			      <div class="modal-body">
			          <p><b>Название</b><br>
   						<input type="text" size="40" name="name_sys">
					  </p> 
						
					  <p><b>Владелец</b><br>
   						<input type="text" size="40"  name="user">
					  </p>
					   <p><b>Описание</b><br>
   						<input type="text" size="40" name="description">
					  </p>
					  <p><b>Параметры сканирования nmap:</b><br>
   						<input type="text" size="40" name="args">
					  </p>


			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <input type="submit" class="btn btn-primary" value="Добавить" id="save">
			      </div>
			    </div>
			  </div>
			</div>

			</form>



	</div>
	<div class="container" >
					<table border="1">
					        <td bordercolor="black" width = "300px" >Название</td>
					        <td bordercolor="black" width = "300px">Владелец</td>
					        <td bordercolor="black" width = "300px" >Описание</td>
					 </table>
					{% for inf_sys in inf_syss %}
					    <table border="1">
					        <td bordercolor="black" width = "300px" ><a href="inf_sys/{{inf_sys.name}}">{{ inf_sys.name }}</td>
					        <td bordercolor="black" width = "300px" >{{ inf_sys.owner }}</td>
					        <td bordercolor="black" width = "300px" >{{ inf_sys.description }}</td>
					    </table>
					{% endfor %}

	</div>
	<div class="container">

{# 		<img src="https://hsto.org/getpro/habr/post_images/4a2/61d/c6a/4a261dc6abcea37cf448267c74f0363c.jpg" class="img-thumbnail" width="900"> #}
		<hr>
		&copy; Все права защищены 2018
	</div>

 </body>
</html>


 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
<script src="/assets/demo/jquery/jquery-1.11.2.min.js"></script>
<!-- Подлючаем js файл Bootstrap -->
<script src="/assets/demo/bootstrap-3/js/bootstrap.min.js"></script>

